body {
  margin: 0 auto;
  padding: 2em;
  background-color: #EADBD8;
}


.reserved {

}

.available {

}

.form {
  display: none;
  margin: 0 auto;
}

cursor {

}

h1 {
  color: red;
  font-size: 4em;
  font-weight: bold;
}

.table-container {
  margin: 0 auto;
  width: 600px;
  height: 500px;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;

}

.table-container, .form {
  background-color: #fff;
  border-radius: 5px;
}

.table {
  margin: 1.5em;
  background-color: #EBEBEB;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.top {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4em;
}
